:root {
    /* Fonts */
    --main-font: "Montserrat", sans-serif;

    /* Colors */
    --color-black: #111111;
    --color-violet: #1e1823;
    --color-orange: #fd9222;
}

/* Common */
body {
    font-family: var(--main-font);
    background-color: #fafafa;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16667;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
}

.orange-word {
    color: var(--color-orange);
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Header */
.logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11111;
    letter-spacing: -0.03em;
    color: var(--color-black);
}

.logo-simply {
    font-style: italic;
}

.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14286;
    letter-spacing: -0.02em;
    color: var(--color-black);
}

.social-link:hover, .social-link:focus {
    color: var(--color-orange);
}

/* Hero */
.hero-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21429;
    letter-spacing: -0.03em;
    /* color: #ffffff; */
}